#landing {
    height: 100%;
    background: url('/assets/images/backgrounds/march.jpg') no-repeat;
    background-size: cover;

    .container {
        margin-right: auto;
        margin-left: auto;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        min-width: 940px;
        max-width: 1150px;
    }
    #toolbar {
        padding: 6px 0 0 0px;
        
        .logo {
            margin-right: 16px;
            margin-top: 15px;
            .logo-image {
                display: block;
                background: material-color('light-blue', '600');
                width: 32px;
                min-width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
                border-radius: 2px;
            }

            .logo-text {
                color: rgba(0, 0, 0, 0.87);
                margin-left: 16px;
                font-size: 16px;
            }
        }
    }

    #landing-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

        #landing-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            background: #FFFFFF;
            text-align: center;
            margin: auto;
            .logo {
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: #FFFFFF;
                border-radius: 2px;
            }

            .title {
                margin: 16px 0 32px 0;
                font-size: 17px;
            }

            form {
                width: 100%;
                text-align: left;

                md-checkbox {
                    margin: 0;
                }

                .terms {
                    font-size: 13px;
                    margin: 16px 0 32px 0;

                    a {
                        margin-left: 4px;
                    }
                }

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }
        }

        .content {
            min-height: 500px;
            display: flex;
            align-items: center;
            h1.main-title {
                font-size: 3.2em;
                font-weight: 400;
                color: #fff;
            }

            h2.sub-title  {
                color: #fff;
                font-size: 2.64rem;
                margin: .82rem 0 .656rem;
            }
            .signup {
                height: 54px;
                line-height: 54px;
                width: 300px;
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #landing {

        #landing-form-wrapper {
            padding: 16px;

            #landing-form {
                padding: 24px;
                width: 100%;

                form {

                    .md-button {
                        width: 90%;
                    }
                }
            }
        }
    }

}